body{
    background-color: black;
    margin: 0px;
    width: 100%;
}

#huvudGrid{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-rows: 75px 70px auto 50px;
    grid-template-areas: 
    "hd"
    "nav"
    "main"
    "ft"
    ;   
}

header{
    background-color: black;
    grid-area: hd;
    display: flex;
    justify-content: center;    
}

nav{
    display: flex;
    grid-area: nav;
    background-color: wheat; 
    justify-content: space-around; 
    width: 100%;
    border-radius: 30px;
}

a{
    display: flex;
    flex:1;
    
}


button{
    border: none;
    color: wheat;
    height: 100%;
    width: 100%;
    background-color: black;
    transform: 1s;
}

button:hover{
    opacity: 0.9;
    cursor: pointer;
}

main{
    height: auto;
    background-color: wheat;
    grid-area: main;
}

footer{
    grid-area: ft;
    background-color: black;
}

h1{
    color: wheat;
}

p{
    color: tan;
}

.indexMainDiv{
    padding: 30px;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 30px;
}

.valkommen{
    display: flex;
    justify-content: center;
}

.bild1{
    border-radius: 30px;  
    width: 85%;
    
}

#recention{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    padding: 10px;
    height: auto;
    flex-wrap: nowrap;
    
}

.recension1{
    grid-area: rec1;
    height: auto;
    background-color: tomato;
    width: 50%;
}


.recension2{
    grid-area: rec2;
    height: auto;
    width: auto;
    background-color: tomato;
    width: 50%;
}


