body{
    background-color: black;
    margin: 0px;
    width: 100%;
}

#huvudGrid{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-rows: auto 70px auto 50px;
    grid-template-areas: 
    "hd"
    "nav"
    "main"
    "ft"
    ;   
}

header{
    background-color: black;
    grid-area: hd;
    display: flex;
    justify-content: center;  
    font-size: 1.5rem;    
}

nav{
    display: flex;
    grid-area: nav;
    background-color: wheat; 
    justify-content: space-around; 
    width: 100%; 
}

a{
    display: flex;
    flex:1;
    text-decoration: none;
}


button{
    border: none;
    color: wheat;
    height: 100%;
    width: 100%;
    background-color: black;
    transform: 1s; 
}

button:hover{
    opacity: 0.9;
    cursor: pointer;
}

main{
    height: auto;
    background-color: wheat;
    grid-area: main;
}

footer{
    grid-area: ft;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

h1{
    color: wheat;
    font-family:  serif;
}

p{
    color: tan;
    font-family: sans-serif;
}

.indexMainDiv{
    padding: 30px;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 30px;  
}

.h2{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: serif;
}

.index_bild{
    border-radius: 30px;  
    width: 85%;  
}

#recention{
    gap: 30px;
    width: 100%;
    padding: 10px;
    height: auto;
    flex-wrap: nowrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "rec rec"
    "rec1 rec2" ;
    
}
.recension{
    grid-area: rec;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.recensioner{
    height: auto;
    width: auto;
    background-color: tomato;
    border-radius: 30px;
    padding-left: 20px;
    border-style: double; 
}

#recension1{
    grid-area: rec1;
}


#recension2{
    grid-area: rec2;    
}

h4{
    font-size: 1.2rem;
}


#meny{
    padding: 30px;
    display: grid;
    gap: 15px;
    grid-template-areas: 
    "bar piz "
    "sal ."
    ;
}

.mat{
    background-color: white;
    width: fit-content;
    border-radius: 30px;
    padding: 20px; 
}

#bar{
    grid-area: bar;
}

#pizza{
    grid-area: piz;
}


#salad{
    grid-area: sal;
}
